extends layout

include mixins/_review

block content
    .inner
        br

        .users
            .user
                img(src=`${account.avatar}`) 
                div
                    p #{account.name} 
                            span @#{account.username}

                    p #{account.profile}
                    nav
                        if !account.social_facebook == "" || !account.social_facebook == null
                            a(href=account.social_facebook target="_blank")
                                i.fab.fa-facebook-square.fa-lg
                        else
                            a.disabled-social
                                i.fab.fa-facebook-square.fa-lg
                        if !account.social_twitter == "" || !account.social_twitter == null
                            a(href=account.social_twitter target="_blank")
                                i.fab.fa-twitter.fa-lg
                        else
                            a.disabled-social
                                i.fab.fa-twitter.fa-lg
                        if !account.social_instagram == "" || !account.social_instagram == null
                            a(href=account.social_instagram target="_blank")
                                i.fab.fa-instagram.fa-lg
                        else
                            a.disabled-social
                                i.fab.fa-instagram.fa-lg
        
        br

        nav.admin__navigation
            a(href=`/users/@${account.username}`) Recent Activity
            a(href=`/users/@${account.username}/stores`) View All Hunted Locations
            a(href=`/users/@${account.username}/reviews`) View All Reviews By #{account.name}
        hr

        
        if reviews.length == 0
            br
            p #{account.name} has not written any reviews yet.
            br
        else
            br
            p 
                strong Reviews written by by #{account.name}:
            br
            .reviews
                each review in reviews
                    .review
                        +review(review)
                    p Review for 
                        a(href=`/stores/${review.store.slug}`) #{review.store.name}

                    hr(style="opacity:0.2")
        

